<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> <%= title %></title>
</head>


<body>
    <h1>
        <%= title %>
    </h1>

    <form method="POST" action="<%= action %>">
        <p>
            <label> Nome: <input type="text" name="nome" value="<%= doc.nome %>"> </label>
        </p>

        <p>
            <label> Idade: <input type="number" name="idade" value="<%= doc.idade %>"> </label>
        </p>

        <p>
            <label> UF: 
                <select name="uf">
                    <% const s = 'selected' %>
                    <option> Selecione:</option>
                    <option <% if (doc.uf === 'RJ'){%> <%= s %> <%}%>>
                        RJ
                    </option>
                    <option <% if (doc.uf === 'SP'){%> <%= s %> <%}%>>
                        SP
                    </option>
                    <option <% if (doc.uf === 'MG'){%> <%= s %> <%}%>>
                        MG
                    </option>
                    <option <% if (doc.uf === 'ES'){%> <%= s %> <%}%>>
                        ES
                    </option>
                    <!--Existem maneiras melhores de fazer isso ao invés de colocar if em cada opção-->
                </select> 
            </label>
        </p>

        <p>
            <a href="/"> Cancelar Cadastro </a> | <input type="submit" value="Salvar"> <!--Quando eu envio o cadastro clicando em salvar aparece erro 404 -->
        </p>
    </form>
</body>

</html>